src/main/mule/cicd-github-training2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="aaf6fe83-e526-4619-affb-e7ef3e07cc31" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-github-actions-connected-appFlow" doc:id="89df90c0-c4c4-4a3d-841d-f219d25ec5f1" >
		<http:listener doc:name="Listener" doc:id="b515980a-bf3b-4877-a80f-830a7c77aafb" config-ref="HTTP_Listener_config" path="/hello" />
		<ee:transform doc:name="Transform Message" doc:id="5511ee53-8004-4eba-b9ee-72ea7f54b017" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "Success2",
	"message": "Hello World2",
	"timeStamp": now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[200 as Number]" doc:name="Set Variable" doc:id="fed3a5d5-1964-494d-b0f8-2b86d8c31707" variableName="httpStatus" />
		<logger level="INFO" doc:name="Logger" doc:id="7d7b9af7-a1e3-4a3f-a6c2-13a189b1988d" message="#[payload]" />
	</flow>
</mule>
